@font-face{
	font-family:'HPSimplified';
	src:url(hps-euro-regular-eot.eot); 
	src:url(hps-euro-regular-eot.eot?#iefix) 
	format('embedded-opentype'),  
	url('hps-euro-regular-woff.woff') format('woff'), 
	url('hps-euro-regular-ttf.ttf') format('truetype');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'HPSimplified';src:url(hps-euro-bold-eot.eot); 
	src:url(hps-euro-bold-eot.eot?#iefix) format('embedded-opentype'),  
	url('hps-euro-bold-woff.woff') format('woff'), 
	url('hps-euro-bold-ttf.ttf') format('truetype');
	font-weight:bold;
	font-style:normal
}
body {
	background: #fff url('../img/header-bg.gif') top left repeat-x;
	font: 1.3em "HPSimplified", Arial, Helvetica, sans-serif;
	}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_example {
	font: 80%/1.45em "HPSimplified", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_example #container {
	width: 960px;
	margin: 30px auto;
	padding: 0;
}


#dt_example #footer {
	margin: 50px auto 0 auto;
	padding: 0;
	font: 1.0em "HPSimplified", Arial, Helvetica, sans-serif;
	color: #ddd;
}

#dt_example #demo {
	margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
	margin: 30px auto 0 auto;
}

#dt_example .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_example .spacer {
	height: 20px;
	clear: both;
}

#dt_example .clear {
	clear: both;
}

#dt_example pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}
#hpImg {
	position: relative;
	top: 52px;
	margin-bottom: 20px;
	margin-right: 20px;
	}

#dt_example h1 {
	margin-top: -2em;
	font: 2.4em "HPSimplified", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.6em;
	color: #000;
	clear: both;
	margin-bottom: 40px;
}

#dt_example h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_example a:hover {
	text-decoration: underline;
}

#dt_example ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#demo_info {
	padding: 5px;
	border: 1px solid #B0BED9;
	height: 100px;
	width: 100%;
	overflow: auto;
}

#dt_example code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px !important;
	white-space: nowrap;
	font-size: 0.9em;

	color: #D14;
	background-color: #F7F7F9;

	border: 1px solid #E1E1E8;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
